/* desktop view (992px and above) */
*{
	margin: 0;
	padding: 0;	
}
body{
	background-color:#fffff;
}
#types_1,
#types_2,
#types_3{
	color: black ;
	padding-top: 5px ;
	//padding-bottom:5px;
	//padding-left:3px;
	display: block;
	position: absolute;
	right: -1px;
	border: 1px solid black;
	width: 120px;
	text-align: center;
	top: -1px;
	font-weight: bold;
}
#types_1{
background-color:#C39BD3;
}
#types_2{
background-color:#F7DC6F;
}
#types_3{
background-color:#F0B27A;	
}

h1{
	text-align:center;
	margin-right: 100px;
	margin: 30px 0 30px 0;
	font-weight:bold;
	
}
p{
	padding-top:30px;
	padding-right:5px;
	padding-left:10px;
	padding-bottom:5px;
	font-size:20px;
	
}



.container1,
.container2,
.container3{
	position: relative;
	background-color: powderblue;
	color: grey ;
	width:31%;
	height:200px;
	float:left;
	margin-left:15px;
	border:1px solid black;
	overflow:hidden;
	font-size:20px;
	
	
}


/*mobile viewing */
@media (max-width:767px){ 
	.container1,.container2,.container3 {
		float: left;
		width: 90%;
		margin-bottom:15px;
		height: 300px;
		overflow: hidden;
	}
}

/*tablet viewing*/
@media (min-width:768px) and (max-width:991px){
	.container1,.container2 {
		float: left;
		width: 45%;}
	.container3{
		margin-top:15px; 
		clear: left;
		width: 92%;}	
}
